body{
    background-color: black;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 25px;
  }
  
  .buttons{
    background-color: blue;
    padding: 30px;
    margin-bottom: 20px;
    border: 3px solid green;
    border-radius: 25px;
    
  }
  
  .buttons:hover{
    background-color: cornflowerblue;
    color: green;
  }
  
  #buttonholder{
    padding-left: 500px;
    padding-right: 500px;
    margin-bottom: 60px;
  }
  
  .upcoming{
    padding-bottom: 5px;
    padding-top: 20px;
    padding-left: 50px;
    color: lightblue;
    text-align: left;
  }
  
  .timeLeft{
    font-size: 20px;
    text-align: right;
    padding-right: 30px;
    margin-bottom: 10px;
  }
  
  .events{
    border: 5px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;
  }
  
  .events:hover{
    background-color: darkgreen;
  }